@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Scrollbar untuk semua elemen dengan overflow */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* abu tua */
}

::-webkit-scrollbar-thumb {
  background: #4b5563; /* abu terang */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* hover lebih terang */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Bikin icon jadi putih */
}